.carousel-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* justify-content: center; */
    height: 80%;
}

.carousel-card-text {
}

.carousel-card-img-container {
    height: 75%;
}

.carousel-card-img {
    display: block;
    height: 100%;
    width: 100%;
}
