.carousel-card {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    height: 90%;
    padding: 5%;
}

.carousel-card-text {
    height: 40%;
}

.carousel-card-img-container {
    height: 60%;
}

.carousel-card-img {
    display: block;
    height: 100%;
    width: 100%;
}
