:root {
    --background-color: rgba(0, 0, 0, 0.9);
    --border-color: rgba(255, 165, 0, 0.1);
    --primary-color: rgba(255, 166, 0, 0.8);
    --secondary-color: rgba(255, 166, 0, 0.6);
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    color: var(--text-color);
}

body > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.icon {
    width: 100px;
    height: 100px;
}

.loader {
    flex-grow: 1;
    justify-self: center;
    align-self: center;
}
