.carousel-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 80%;
}

.carousel-card {
    flex-grow: 1;
    flex-basis: 80%;
    max-height: 80%;
    max-width: 100%;
}

.carousel-menu {
    flex-basis: 20%;
    justify-self: end;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.biggest-div {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.big-div {
    display: grid;
    gap: 50px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.small-div {
    grid-column: 1 / -1;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.small-div > p {
    display: none;
}

.small-div > img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.small-div:hover > p {
    display: block;
}

.small-div:hover > img {
    display: none;
}
