.gallery-container {
    border-top: 5px solid black;
    height: 100vh;
    padding: 5% 10%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-title {
    font-size: 36px;
    font-weight: bold;
}

.gallery-search-bar {
    display: flex;
    gap: 10px;
}

.gallery-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-image {
    width: 100%;
    height: 100%;
}
