.navbar-container {
    flex-basis: 10%;
    max-height: 10%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    font-size: 2rem;
}

.navbar-container > div {
    display: flex;
}

.navbar-logo {
    min-width: 20%;
    flex-basis: 20%;
    border-right: 1px solid var(--border-color);
    align-items: center;
}

.navbar-logo > a {
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
    color: var(--primary-color);
}

.navbar-logo,
.navbar-links {
    display: flex;
    justify-content: center;
}

.navbar-links {
    flex-grow: 1;
    max-height: 100%;
}
