.navbar-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    font-size: 2rem;
}

.navbar-container > div {
    padding: 2rem 1rem;
    display: flex;
}

.navbar-logo {
    min-width: 20%;
    flex-basis: 20%;
    border-right: 1px solid var(--border-color);
}

.navbar-logo,
.navbar-links {
    display: flex;
    justify-content: center;
}

.navbar-links {
    flex-grow: 1;
}

.navbar-link {
    flex-basis: 15%;
    text-align: center;
}

/* On hover flip vertical and display category name */
.navbar-link:hover {
    transform: scale(-1);
}

.navbar-icon {
    filter: invert(1);
    width: 2rem;
    height: 2rem;
}
